$color-fuentes:black;
$color-body:   #eef2f3;
$color-main: whitesmoke;
$color-li: whitesmoke;
$tam-fuentes:70px;
$color-h:rgb(0, 0, 0);
$color-h5:rgb(31, 26, 26);
$tam-fuentes2:50px;
$tam-fuentes3:30px;
$tam-fuentes4:20px;